@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,700&display=swap');

#root {
  background-image: url("../assets/bg.png");
}

html, body, #root, .main-outer {
  height: 100%;
}

.main-outer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main {
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  width: 600px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main h1 {
  text-align: center;
  padding: 20px;
  font-weight: 100;
  letter-spacing: 15px;
}

.main h1 img {
  width: 128px;
  margin-right: 10px;
}

.main h1 title {
  margin-left: 10px;
}

.main form,
.main form .form-control {
  font-size: 14px;
}

.main .go-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main input.form-check-input {
  margin-top: 13px;
}

.btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.weight-500 {
  font-weight: 500;
}

.btn-link {
  color: #CCCCCC;
  text-decoration: none;
}

.btn-link:hover, .btn-link:active {
  color: #72A9E8;
  text-decoration: none;
}

.btn-link.focus, .btn-link:focus {
  text-decoration: none;
}