@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,700&display=swap');

html, body, #root, .main {
  height: 100%;
}

.main {
  width: 600px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main h1 {
  text-align: center;
  padding: 20px;
}

.main form,
.main form .form-control {
  font-size: 14px;
}

.main .go-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main input.form-check-input {
  margin-top: 13px;
}

.btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.weight-500 {
  font-weight: 500;
}

.btn-link {
  color: #CCCCCC;
  text-decoration: none;
}

.btn-link:hover, .btn-link:active {
  color: #72A9E8;
  text-decoration: none;
}

.btn-link.focus, .btn-link:focus {
  text-decoration: none;
}