@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,700&display=swap');

.btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.weight-500 {
  font-weight: 500;
}

.btn-link {
  color: #CCCCCC;
  text-decoration: none;
}

.btn-link:hover, .btn-link:active {
  color: #72A9E8;
  text-decoration: none;
}

.btn-link.focus, .btn-link:focus {
  text-decoration: none;
}

.tooltip .tooltip-inner {
  background-color: #F7F7F7;
  color: rgb(33, 37, 41);
}
.tooltip.bs-tooltip-left .arrow::before {
  border-left-color: #F7F7F7;
}
.tooltip.bs-tooltip-right .arrow::before {
  border-right-color: #F7F7F7;
}
.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #F7F7F7;
}
.tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #F7F7F7;
}

html, body, #root, .main-container, .canvas-container {
  width: 100%;
  height: 100%;
}

.main-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.main-canvas {
  z-index: 1;
}

.fps-container {
  z-index: 3;
  position: absolute;
  right: 5px;
  bottom: 0px;
  color: #AAAAAA;
}

.gas-container {
  z-index: 3;
  position: absolute;
  right: 5px;
  bottom: 20px;
  color: #AAAAAA;
}

.foreground {
  z-index: 10;
}

body {
  margin: 0;
  overflow-y: hidden;
}

.link {
  fill: none;
  stroke: #666;
}

circle {
  stroke: #333;
  stroke-width: 1.5px;
}

.address-clipboard {
  position:absolute;
  left:-9999px;
}

.loading-background {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.9);
}

.loading-bar-container {
  top: 45%;
  height: auto;
  border: none;
  border-radius: .35rem;
  background-color: transparent;
  box-shadow: none;
  left: 25%;
  width: 50%;
  position: absolute;
  z-index: 4;
  padding: 15px 25px 25px 25px;  
}

.loading-bar-container .loading-bar-label {
  text-align: center;
  margin-bottom: 5px;
}

.loading-bar-container .loading-bar-hint {
  position: absolute;
  bottom: 3px;
  right: 25px;
  font-size: 12px;
}

.loading-bar-container .loading-bar-hint a {
  color: inherit;
}

.loading-bar-container .loading-bar-hint a:focus {
  outline: none;
}

.loading-bar-container .loading-bar-hint a:hover {
  text-decoration: none;
}

.loading-bar-container .loading-bar-bar {
  width: 100%;
  height: 20px;
  background-color: #CCCCCC;
  border-radius: 5px;
  overflow: hidden;
}

.loading-bar-container .loading-bar-bar .loading-bar-bar-inner {
  background-color: #3286E5;
  height: 100%;
}

.loading-bar-container .loading-bar-bar .loading-bar-bar-inner .loading-bar-bar-inner-label {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20px;
  color: #F7F7F7;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.repo-git-logo {
  object-fit: contain;
  max-height: 50px;
}

.element-identifier {
  height: 26px;
  display: flex;
  justify-content: space-between;
}

.element-identifier .btn-link {
  padding: 0 5px;
}

.legend {
  display: flex;
  position: relative;
  line-height: 26px;
}

.legend .element-type {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 20px;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  margin-top: 2px;
}

.legend img {
  height: 20px;
}

.legend img.bch {
  margin-top: 3px;
}

.legend img.btc {
  margin-top: 2px;
}

.legend img.eth {
  margin-top: 2px;
}

.legend svg {
  font-size: 20px;
  margin-top: 2px;
}

.legend .element-label {
  display: inline;
  margin-left: 5px;
  color: rgb(33, 37, 41);
}

.after-legend {
  font-size: 14px;
  line-height: 26px;
}

.after-legend button:last-child {
  padding-right: 0;
}

.element-info-container {
  z-index: 9;
  padding: 10px;
  width: 350px;
  position: fixed;
  background-color: #F7F7F7;
  border: none;
  border-radius: .35rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.33);
  font-size: 12px;
}

.element-info-container:empty {
  display:none /* hide border */
}

.element-info-container .extra-info-container {
  font-size: 13px;
  margin-top: 5px;
}

.element-info-container .extra-info-container .strong {
  font-weight: 500;
}

.element-info-container .extra-info img {
  width: 20px;
}

.element-info-container .extra-info .positive {
  color: green;
}

.element-info-container .extra-info .negative {
  color: red;
}

.element-info-container .extra-info .btn.token-icon {
  padding: 0 5px;
}